In [1]:
import pandas as pd

In [24]:
with open("/home/antonio/Desktop/aulas/Bases_Dados/TBD-Project/raw_csv/band-member-member_name.csv", "r+") as file:
    lines = file.read()
    #print(lines.replace("\"",""))
    file.seek(0)
    #file.write(lines.replace(";\"","\";\"").replace("\"\"\"","\"\"").replace("\"\"","\""))
    file.write(lines.replace("\"",""))
    file.truncate()

In [ ]:
with open("/home/antonio/Desktop/aulas/Bases_Dados/TBD-Project/raw_csv/band-former_member-member_name.csv", "r+") as file:
    lines = file.read()
    #print(lines.replace("\"",""))
    file.seek(0)
    #file.write(lines.replace(";\"","\";\"").replace("\"\"\"","\"\"").replace("\"\"","\""))
    file.write(lines.replace("\"",""))
    file.truncate()

In [157]:
current = pd.read_csv("/home/antonio/Desktop/aulas/Bases_Dados/TBD-Project/raw_csv/band-member-member_name.csv", sep = ";", names = ["band_url", "Artist_URL","artist_name"])
former = pd.read_csv("/home/antonio/Desktop/aulas/Bases_Dados/TBD-Project/raw_csv/band-former_member-member_name.csv", sep = ";" ,names = ["band_url", "Artist_URL","artist_name"])
bands = pd.read_csv("/home/antonio/Desktop/aulas/Bases_Dados/TBD-Project/new_sets/Bands.csv", sep = ";")

In [158]:
bands.head(5)

,band_id,band_url,name
0,1,http://dbpedia.org/resource/Maritime_(band),Maritime (band)
1,2,http://dbpedia.org/resource/Alacranes_Musical,Alacranes Musical
2,3,http://dbpedia.org/resource/Cesium_137_(band),Cesium 137 (band)
3,4,http://dbpedia.org/resource/Rise_and_Fall_(band),Rise and Fall (band)
4,5,http://dbpedia.org/resource/Denali_(band),Denali (band)

In [159]:
current.head(5)

,band_url,Artist_URL,artist_name
0,http://dbpedia.org/resource/Maritime_(band),http://dbpedia.org/resource/Davey_von_Bohlen,Davey von Bohlen
1,http://dbpedia.org/resource/Compulsive_Gamblers,http://dbpedia.org/resource/Greg_Cartwright,Greg Cartwright
2,http://dbpedia.org/resource/Compulsive_Gamblers,http://dbpedia.org/resource/Jack_Yarber,Jack Yarber
3,http://dbpedia.org/resource/Compulsive_Gamblers,http://dbpedia.org/resource/Jack_Yarber,Jack Oblivian
4,http://dbpedia.org/resource/Real_Estate_(band),http://dbpedia.org/resource/Martin_Courtney,Martin Courtney

In [160]:
former.head(5)

,band_url,Artist_URL,artist_name
0,http://dbpedia.org/resource/Maritime_(band),http://dbpedia.org/resource/The_Dismemberment_...,The Dismemberment Plan
1,http://dbpedia.org/resource/Denali_(band),http://dbpedia.org/resource/Cam_DiNunzio,Cam DiNunzio
2,http://dbpedia.org/resource/Denali_(band),http://dbpedia.org/resource/Maura_Davis,Maura Davis
3,http://dbpedia.org/resource/Denali_(band),http://dbpedia.org/resource/Keeley_Davis,Keeley Davis
4,http://dbpedia.org/resource/Pist.On,http://dbpedia.org/resource/Johnny_Kelly,Johnny Kelly

In [161]:
print (former.shape)
print(current.shape)
print(bands.shape)

(6825, 3)
(8597, 3)
(10000, 3)

In [162]:
truecolumn = pd.DataFrame({'Status':[True for x in range(current.shape[0])]})

current = pd.concat([current,truecolumn],axis=1)
current

,band_url,Artist_URL,artist_name,Status
0,http://dbpedia.org/resource/Maritime_(band),http://dbpedia.org/resource/Davey_von_Bohlen,Davey von Bohlen,True
1,http://dbpedia.org/resource/Compulsive_Gamblers,http://dbpedia.org/resource/Greg_Cartwright,Greg Cartwright,True
2,http://dbpedia.org/resource/Compulsive_Gamblers,http://dbpedia.org/resource/Jack_Yarber,Jack Yarber,True
3,http://dbpedia.org/resource/Compulsive_Gamblers,http://dbpedia.org/resource/Jack_Yarber,Jack Oblivian,True
4,http://dbpedia.org/resource/Real_Estate_(band),http://dbpedia.org/resource/Martin_Courtney,Martin Courtney,True
...,...,...,...,...
8592,http://dbpedia.org/resource/Soul_II_Soul,http://dbpedia.org/resource/MC_Chickaboo,MC Chickaboo,True
8593,http://dbpedia.org/resource/Republica,http://dbpedia.org/resource/Saffron_(singer),Saffron,True
8594,http://dbpedia.org/resource/The_Unintended,http://dbpedia.org/resource/Rick_White_(musician),Rick White,True
8595,http://dbpedia.org/resource/The_Unintended,http://dbpedia.org/resource/Mike_Belitsky,Mike Belitsky,True
8596,http://dbpedia.org/resource/The_Unintended,http://dbpedia.org/resource/Greg_Keelor,Greg Keelor,True

In [163]:
falsecolumn = pd.DataFrame({'Status':[False for x in range(former.shape[0])]})

former = pd.concat([former,falsecolumn],axis=1)
former

,band_url,Artist_URL,artist_name,Status
0,http://dbpedia.org/resource/Maritime_(band),http://dbpedia.org/resource/The_Dismemberment_...,The Dismemberment Plan,False
1,http://dbpedia.org/resource/Denali_(band),http://dbpedia.org/resource/Cam_DiNunzio,Cam DiNunzio,False
2,http://dbpedia.org/resource/Denali_(band),http://dbpedia.org/resource/Maura_Davis,Maura Davis,False
3,http://dbpedia.org/resource/Denali_(band),http://dbpedia.org/resource/Keeley_Davis,Keeley Davis,False
4,http://dbpedia.org/resource/Pist.On,http://dbpedia.org/resource/Johnny_Kelly,Johnny Kelly,False
...,...,...,...,...
6820,http://dbpedia.org/resource/Fools_Dance,http://dbpedia.org/resource/Matthieu_Hartley,Matthieu Hartley,False
6821,http://dbpedia.org/resource/Isocracy_(band),http://dbpedia.org/resource/John_Kiffmeyer,John Kiffmeyer,False
6822,http://dbpedia.org/resource/Cabine_C,http://dbpedia.org/resource/Ciro_Pessoa,Ciro Pessoa,False
6823,http://dbpedia.org/resource/Cabine_C,http://dbpedia.org/resource/Charles_Gavin,Charles Gavin,False
6824,http://dbpedia.org/resource/The_Units,http://dbpedia.org/resource/Rick_Prelinger,Rick Prelinger,False

In [164]:
belongs = pd.concat([current,former])

In [165]:
# belongs.shape

# former[former.isna().any(axis=1)]

In [166]:
temp = pd.merge(belongs,bands[["band_url","band_id"]],left_on = "band_url",right_on = "band_url",how = "left")

In [167]:
# temp[temp.isna().any(axis=1)]

In [168]:
temp.shape

(15422, 5)

In [169]:
artists = pd.read_csv("/home/antonio/Desktop/aulas/Bases_Dados/TBD-Project/new_sets/Artists.csv", sep = ";")

In [170]:
artists.columns

Index(['Artist_ID', 'Artist_URL'], dtype='object')

In [171]:
belongs = pd.merge(temp,artists)

In [172]:
belongs.head()

,band_url,Artist_URL,artist_name,Status,band_id,Artist_ID
0,http://dbpedia.org/resource/Maritime_(band),http://dbpedia.org/resource/Davey_von_Bohlen,Davey von Bohlen,True,1,3249
1,http://dbpedia.org/resource/The_Promise_Ring,http://dbpedia.org/resource/Davey_von_Bohlen,Davey von Bohlen,True,8455,3249
2,http://dbpedia.org/resource/Cap'n_Jazz,http://dbpedia.org/resource/Davey_von_Bohlen,Davey von Bohlen,False,3657,3249
3,http://dbpedia.org/resource/Compulsive_Gamblers,http://dbpedia.org/resource/Greg_Cartwright,Greg Cartwright,True,6,4359
4,http://dbpedia.org/resource/Oblivians,http://dbpedia.org/resource/Greg_Cartwright,Greg Cartwright,False,5093,4359

In [173]:
belongs.shape

(15422, 6)

In [174]:
belongs.drop(["band_url","Artist_URL"],axis=1 , inplace=True)

In [175]:
belongs = belongs.reindex(columns = ["band_id", "Artist_ID", "artist_name" , "Status"])

In [176]:
belongs.sort_values(by = ["artist_name"],inplace=True)

In [178]:
belongs.head(50)

       band_id  Artist_ID            artist_name  Status
9309      8666      11140     (Gustavo Monsanto)    True
7741      6680      10090      (Joakim Thåström)    True
1101      9412       4979                 (Jorn)    True
1103      5869       4979                 (Jorn)   False
1099       778       4979                 (Jorn)    True
9051      8124      10964          (K Ishibashi)    True
5493      4562       8703                  (KBE)    True
5730      4773       8856                  (KBE)    True
4469      3546       8084                  (MBE)    True
527       4620       5853                  (OBE)    True
1352      3731       3289                  (OBE)   False
1348      1025       3289                  (OBE)    True
1350      7883       3289                  (OBE)    True
525        469       5853                  (OBE)    True
13310     3731       3242                  (OBE)   False
529       5713       5853                  (OBE)    True
13308     3642       3242                  (OBE)   False
11338     1376       1269                  (OBE)   False
13384     3817       3336       (The Honourable)   False
9481      9031      11245       (The Honourable)    True
6968      6026       9606            (אורי קפלן)    True
6972      6026       9608            (תומר יוסף)    True
6970      6026       9607           (תמיר מוסקט)    True
4918      4045       8369               2 Chainz    True
9750      9537      11404                 2Cents    True
532        469       5856                     2D    True
13928     4585       3928                40 Cal.   False
2979      2337       7174               45 Grave    True
9492      9055      11255     60 Second Assassin    True
13509     4001       3469    A Guy Called Gerald   False
10268      372        300  A Primitive Evolution   False
2908      2223       7133             A$AP Rocky    True
6051      5040       9047           A. J. McLean    True
12850     4830       2788             A. J. Pero   False
12848     3129       2788             A. J. Pero   False
3394      2615       7420           A. W. Yrjänä    True
6157      5218       9108            AJ Michalka    True
190        195       5657                    AMG    True
13971     4661       3975              AOA Black   False
2905      2223       7130              ASAP Ferg    True
2906      2223       7131              ASAP Nast    True
2909      2223       7133             ASAP Rocky    True
2907      2223       7132           ASAP Twelvyy    True
13042     3370       2982                 AZUKI七   False
6957      6008       9599          Aaron Barrett    True
880        621       6043          Aaron Bertram    True
6259      5326       9166            Aaron Bruno    True
5466      4546       8691         Aaron Cometbus    True
7572      6449       9991           Aaron Dalbec    True
2489      1930       6898          Aaron Dessner    True

In [183]:
belongs['artist_name'] = pd.concat([belongs['artist_name'][:30].apply(lambda x : x.strip('()')),belongs['artist_name'][30:]])

In [184]:
belongs.head(100)

       band_id  Artist_ID       artist_name  Status
9309      8666      11140  Gustavo Monsanto    True
7741      6680      10090   Joakim Thåström    True
1101      9412       4979              Jorn    True
1103      5869       4979              Jorn   False
1099       778       4979              Jorn    True
...        ...        ...               ...     ...
5565      4620       8756           Actress    True
14539     5411       4595       Ad Sluijter   False
10603      609        601           Ad-Rock   False
5538      4602       8735           Adalita    True
5537      4602       8735     Adalita Srsen    True

[100 rows x 4 columns]

In [185]:
belongs.sort_values(by = ["artist_name"],inplace=True)

In [187]:
belongs.to_csv("/home/antonio/Desktop/aulas/Bases_Dados/TBD-Project/new_sets/Belongs.csv",sep = ";" ,index=False)

In [10]:
current.artist_url.nunique()

7004

In [8]:
pd.merge(former,bands)

,band_url,artist_url,artist_name,band_id,name
0,http://dbpedia.org/resource/Maritime_(band),http://dbpedia.org/resource/The_Dismemberment_...,The Dismemberment Plan,1,Maritime (band)
1,http://dbpedia.org/resource/Denali_(band),http://dbpedia.org/resource/Cam_DiNunzio,Cam DiNunzio,5,Denali (band)
2,http://dbpedia.org/resource/Denali_(band),http://dbpedia.org/resource/Maura_Davis,Maura Davis,5,Denali (band)
3,http://dbpedia.org/resource/Denali_(band),http://dbpedia.org/resource/Keeley_Davis,Keeley Davis,5,Denali (band)
4,http://dbpedia.org/resource/Pist.On,http://dbpedia.org/resource/Johnny_Kelly,Johnny Kelly,9,Pist.On
...,...,...,...,...,...
6820,http://dbpedia.org/resource/Fools_Dance,http://dbpedia.org/resource/Matthieu_Hartley,Matthieu Hartley,6640,Fools Dance
6821,http://dbpedia.org/resource/Isocracy_(band),http://dbpedia.org/resource/John_Kiffmeyer,John Kiffmeyer,6645,Isocracy (band)
6822,http://dbpedia.org/resource/Cabine_C,http://dbpedia.org/resource/Ciro_Pessoa,Ciro Pessoa,6646,Cabine C
6823,http://dbpedia.org/resource/Cabine_C,http://dbpedia.org/resource/Charles_Gavin,Charles Gavin,6646,Cabine C
6824,http://dbpedia.org/resource/The_Units,http://dbpedia.org/resource/Rick_Prelinger,Rick Prelinger,6652,The Units